.header1{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color:rgba(10, 46, 82, 1);
    padding: 10px 20px;
}
.logo {
    grid-column: 1;
    justify-self: start;
    height: 35px;
    padding-left: 10%;
}

/*css  menu*/

.Menu {
    grid-column: 2;
    justify-self: center;
    padding-top: 0px;
    font-size: 16px;
}
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.header1::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: orange;
}
